* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    
    text-align: center;
    color: seashell;
}

main {
    padding-top: 70px;
    background: black;
}

h5{
    font-size: 18px;
    margin-bottom: 10px;
}

p, h4 {
    font-size: 22px;
}

h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

h2 {
    font-size: 34px;
    margin-bottom: 20px;
}


section {
    max-width: 1200px;
    margin: 0 auto;
}


/* NAVIGATION */
header {
    display: flex;
    position: fixed;
    height: auto;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    background: black;
}

img.logo {
    width: auto;
    height: 50px;
}

nav {
    display: inline-flex;
    align-items: center;
    gap: 20px;
}



/* MISSION SECTION */
section#mission {
    min-height: 700px;
    background-image: url("../images/img-mission-background.webp");
    align-items: center;

    display: flex;
    justify-content: center;
}

section#mission div {
    width: 100%;
    padding: 10px;
    background: black;
}



/* FEATURED SECTION */
section#featured-tea {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    gap: 20px;
}

.tea-block {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    gap: 10px;
    margin-bottom: 30px;
}   

/* LOCATIONS SECTION */

section#locations {
    min-height: 500px;
    background-image: url("../images/img-locations-background.webp");
    align-items: center;
    background-color: transparent;

    display: flex;
    justify-content: center;
    flex-direction: column;
    
    margin-top: 70px;
}

.locations-blocks {
    display: flex;
    flex-direction: row;
    gap: 40px;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
}

.location-block {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    gap: 30px;
    justify-content: center;
    background-color: black;
}



/* CONTACT SECTION */
section#contact {
    min-height: 200px;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;

}


footer p {
    text-align: left;
    padding: 20px;
    background: black;
}



/* Responsive adjustment */
@media (max-width: 700px) {
  .tea-block, .locations-blocks { flex-direction: column; align-items: center; }
  figure { width: 90%; height: auto; }
  
  nav a h4{
    font-size: 16px;
  }

  img.logo {
    width: 100px;
    height: auto;
}
}